.mainbtn {
  display: inline-block;
  padding: 10px 12px;
  margin: 3px 0px;
  font-size: 16px;
  width: 100%;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  background-color: #656565;
  color: white;
}

.mainbtn:hover,
.mainbtn:focus,
.mainbtn:active,
.mainbtn.active,
.mainopen .dropdown-toggle.btn {
  opacity: 0.6;
}

.btn {
  display: inline-block;
  padding: 3px 12px;
  margin: auto 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  background-color: #656565;
  color: white;
}

.normalbtn {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: #656565;
  color: white;
}

.normalbtn:hover,
.normalbtn:focus,
.normalbtn:active,
.normalbtn.active,
.open .dropdown-toggle.normalbtn {
  opacity: 1;
}

.selectedbtn {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: #f5bb05;
  color: white;
}

.selectedbtn:hover,
.selectedbtn:focus,
.selectedbtn:active,
.selectedbtn.active,
.open .dropdown-toggle.selectedbtn {
  opacity: 0.6;
}

.datebtn {
  display: inline-block;
  padding: 3px 12px;
  margin: auto 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
  background-image: none;
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-color: #f5bb05;
  color: #000000;
}

.datebtn:hover,
.datebtn:focus,
.datebtn:active,
.datebtn.active,
.open .dropdown-toggle.datebtn {
  opacity: 1;
}

.btnon {
  display: inline-block;
  padding: 3px 12px;
  margin: auto 1px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
  background-image: none;
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-color: #f5bb05;
  color: #000000;
}

.btnon:hover,
.btnon:focus,
.btnon:active,
.btnon.active,
.open .dropdown-toggle.btnon {
  opacity: 1;
}

.btnoff {
  display: inline-block;
  padding: 3px 12px;
  margin: auto 1px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #9a9a9a;
  border-radius: 0px;
  background-color: #656565;
  opacity: 0.6;
  color: white;
}

.downbtn {
  display: inline-block;
  padding: 3px 12px;
  margin: auto 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #9a9a9a;
  border-radius: 0px;
  background-color: #656565;
  opacity: 0.6;
  color: white;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  opacity: 0.8;
}

.innerbtn {
  display: inline-block;
  padding: 3px 5px;
  margin: auto 1px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #656565;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.innerbtn:hover,
.innerbtn:focus,
.innerbtn:active,
.innerbtn.active,
.open .dropdown-toggle.btn {
  opacity: 0.6;
}

.header {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px;
  overflow: auto;
  vertical-align: middle;
  font-size: 14px;
  font-family: avenir;
  padding: 4px 0px;
}

.headerlnk {
  text-decoration: none;
  color: #f5bb05;
  border-bottom: 1px dashed;
  padding-top: 5px;
  fontWeight: 500;
  margin-left: 20px;
}

.body {
  padding: 0px 8px;
  background-color: white;
  min-height: 100%;
  overflow: auto;
  margin-bottom: 30px;
}

.formContainer {
  margin: 0 1px;
  border: 1px solid #f5bb05;
  padding: 15px;
  overflow: auto;
}

.trial {
  cursor: pointer;
  transition: background .3s ease;

  p,
  input {
    margin: 0;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.trialCompleted {
  border-bottom: 1px dashed pink;
  color: #f5bb05;
}

.search {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #f5bb05;
  text-align: center;
}

.boy {
}

.girl {
  color: pink;
}

.submitbtn {
  width: 100%;
  display: inline-block;
  padding: 3px 12px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42857143;
  height: 30px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #f5bb05;
  border-radius: 5px;
  background-color: #f5bb05;
  color: #000000;
}

.m-signature-pad {
  position: absolute;
  font-size: 10px;
  width: 700px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -200px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.m-signature-pad--body {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 60px;
  border: 1px solid #f4f4f4;
}

.m-signature-pad--body
  canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.m-signature-pad--footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 40px;
}

.m-signature-pad--footer
  .description {
  color: #c3c3c3;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.8em;
}

.m-signature-pad--footer
  .button {
  position: absolute;
  bottom: 0;
}

.m-signature-pad--footer
  .button.clear {
  left: 0;
}

.m-signature-pad--footer
  .button.save {
  right: 0;
}

@media screen and (max-width: 1024px) {
  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 250px;
    margin: 5%;
  }
  #github {
    display: none;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .m-signature-pad {
    margin: 10%;
  }
}

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
  }
  .m-signature-pad--footer {
    left: 20px;
    right: 20px;
    bottom: 4px;
    height: 28px;
  }
  .m-signature-pad--footer
    .description {
    font-size: 1em;
    margin-top: 1em;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: inline-block;
  padding: 3px 12px;
  margin: auto 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  background-color: #f5bb05;
  color: white;
}

/**
 * React Switch Button control style.
 *
 * @author          =undo= <g.fazioli@undolog.com>
 * @date            2016-02-17
 * @version         2.0.0
 *
 */
.rsbc-switch-button {
  position: relative;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rsbc-switch-button label {
  cursor: pointer;
}
.rsbc-switch-button.disabled label {
  cursor: not-allowed;
}
.rsbc-switch-button input[type="checkbox"] {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.rsbc-switch-button > label:first-child {
  display: inline-block;
  margin: 0 6px 0 0px;
}
.rsbc-switch-button label + label {
  margin-left: 6px;
}
.rsbc-switch-button input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  margin: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * React Switch Button control style.
 *
 * @author          =undo= <g.fazioli@undolog.com>
 * @date            2016-02-17
 * @version         2.0.0
 *
 */
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]
  + label {
  padding: 2px;
  width: 48px;
  height: 24px;
  vertical-align: middle;
  background-color: #aaa;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"]
  + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-round:hover input[type="checkbox"]
  + label {
  background-color: #579fcb;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled:hover input[type="checkbox"]
  + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]
  + label:before,
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]
  + label:after {
  display: inline-block;
  position: absolute;
  content: "";
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]
  + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]
  + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #919191;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"]
  + label:after {
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button-flat-round:hover input[type="checkbox"]:checked
  + label {
  background-color: #aaa;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked
  + label {
  background-color: #579fcb;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"]:checked
  + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked
  + label:after {
  margin-left: 24px;
  background-color: #3887b7;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"]:checked
  + label:after {
  margin-left: 24px;
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-round.rsbc-mode-select input[type="checkbox"]
  + label:after,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-round.rsbc-mode-select:hover input[type="checkbox"]:checked
  + label,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-round.rsbc-mode-select input[type="checkbox"]
  + label {
  background-color: #579fcb !important;
}
/**
 * React Switch Button control style square.
 *
 * @author          =undo= <g.fazioli@undolog.com>
 * @date            2016-12-30
 * @version         1.0.0
 *
 */
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]
  + label {
  padding: 2px;
  width: 48px;
  height: 24px;
  vertical-align: middle;
  background-color: #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"]
  + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-square:hover input[type="checkbox"]
  + label {
  background-color: #579fcb;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled:hover input[type="checkbox"]
  + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]
  + label:before,
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]
  + label:after {
  display: inline-block;
  position: absolute;
  content: "";
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]
  + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]
  + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #919191;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"]
  + label:after {
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button-flat-square:hover input[type="checkbox"]:checked
  + label {
  background-color: #aaa;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]:checked
  + label {
  background-color: #579fcb;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"]:checked
  + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]:checked
  + label:after {
  margin-left: 24px;
  background-color: #3887b7;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"]:checked
  + label:after {
  margin-left: 24px;
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-square.rsbc-mode-select input[type="checkbox"]
  + label:after,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-square.rsbc-mode-select:hover input[type="checkbox"]:checked
  + label,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-square.rsbc-mode-select input[type="checkbox"]
  + label {
  background-color: #579fcb !important;
}
