.mainbtn {
  display: inline-block;
  padding: 10px 12px;
  margin: 3px 5px;
  font-size: 16px;
  width: 100%;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  background-color: #656565;
  color: white;
}

.mainbtn:hover,
.mainbtn:focus,
.mainbtn:active,
.mainbtn.active,
.mainopen .dropdown-toggle.btn {
  opacity: 0.6;
}

.btn {
  display: inline-block;
  padding: 3px 12px;
  margin: auto 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  background-color: #656565;
  color: white;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  opacity: 0.6;
}

.header {
  margin-top: 20px;
  margin-bottom: 5px;
  width:100%;
  border: 1px;
  overflow: auto;
  vertical-align: middle;
  font-size: 16px;
  font-family: avenir;
  padding : 4px 0px;
}

.headerlnk {
  text-decoration: none;
  color: #f5bb05;
  border-bottom: 1px dashed;
  padding-top: 5px;
  fontWeight: 500;
  margin-left: 20px;
}

.body {
  padding: 0px 8px;
  background-color: white;
  min-height: 100%;
  overflow: auto;
}

.formContainer {
  margin: 0 1px;
  border: 1px solid #f5bb05;
  padding: 15px;
  overflow: auto;
}

.select {
   background-color: #f5bb05;
   color: black;
   width:100%;
   padding: 10px;
   font-size: 16px;
   line-height: 1;
   border: 1px;
   border-radius: 5px;
   height: 34px;
   }
